.conteudo-sucesso{
    padding-left: 30px;

}

.conteudo-sucesso h1{
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
}

.conteudo-sucesso p{
    font-size: 22px;
    margin-bottom: 5px;
}
.botao-home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0px auto;
}

.escrita-sucesso{
    font-weight: bold;
    color: green;
}