
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.topo {
  background-color: gray;
  color: #E8833A;
  font-size: 34px;
  text-align: center;
  height: 67px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-comment{
  width: 100vw;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #293845;
  ;
}

.conteudo-filmes{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;


}
.conteudo-imagem{
  margin: 10px;
  border: solid white 5px;
  box-shadow: 2px 2px 2px 2px gray;
  height: 209px;
  width: 145px;
}

.rodape{
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgba(134, 121, 121, 0.9);
  padding: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 5px black;
}
.rodape img {
  height: 89px;
  width: 64px;
  border: solid 3px white;
}

.rodape p {
  padding-left: 14px;
}
.flex{
  display: flex;
}

link{
  text-decoration: none;

}

.botao-laranja{
  height: 42px;
  width: 225px;
  background-color: #E8833A;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: auto;

}