.conteudo {
    margin-left: 15px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assentos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.assento {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: solid 2px gray;
    background-color:#C3CFD9;
   
    
}

.legenda{
    display: flex;
    margin: 30px auto 30px auto;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    width: 100vw;
   

}
.legenda div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verde, .selecionado{
    background-color: #8DD7CF;
}

.amarelo, .indisponivel{
    background-color: #FBE192;

}
.cinza, .disponivel {
    background-color:#C3CFD9;
}

input{
    width: 80vw;
    max-width: 350px;
    height: 51px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 15px;
    border-radius: 8px;
}
.informacoes{
    margin: auto;
}