.sessoes {
    margin-left: 20px;
    margin-bottom: 117px;
}

.horarios{
    height: 43px;
    width: 83px;
    margin: 22px 10px 22px 0px;
    background-color: #E8833A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
}